*{
	box-sizing: border-box;
}
div>div>div{
	border: 1px solid #060675;
	margin:10px 0px 10px 0px;
	padding: 5px;
	padding-top: 10px;
	color: #060675;
	background-color: #fffcbe;
}
h1{
	text-align: center;
	color: #060675;
	font-weight: bold;
	margin-top:100px;
	margin-bottom: 100px;
	padding: 30px;
	font-family: serif; 
}
div>div>div>div{
	color: #fffcbe;
	background-color: #060675;
	width: 90px;
	height: 40px;
	float: right;
	margin-top: -10px;
	margin-right:-5px;
	padding: 5px;	
	text-align: center;
	font-size: 22px;
}